// https://github.com/dj95/zjstatus

layout {
    pane split_direction="vertical" {
            // pane size="15%" {
            //   plugin location="zellij:strider"
            //}
            children
        }

    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
            format_right "{datetime}"
            format_space ""

            border_enabled  "false"
            border_char     "─"
            border_format   "#[fg=#6C7086]{char}"
            border_position "top"

            hide_frame_for_single_pane "true"


            mode_normal        "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_locked        "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_resize        "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_pane          "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_tab           "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_scroll        "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_enter_search  "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_search        "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_rename_tab    "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_rename_pane   "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_session       "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_move          "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_prompt        "#[fg=#f8f8f2,bg=#89B4FA] {name} "
            mode_tmux          "#[fg=#f8f8f2,bg=#ffc387] {name} "

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#9399B2,bold,italic] {name} "

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Berlin"
        }
    }
}
